<div id="dock-content">
    <button
        class="btn btn-primary m-2"
        hx-get="/api/v1/dock/new?commander_id={{.dock_id}}"
        hx-target="#edit-modal-container"
        hx-targer-error="#toast-container"
    >
        New Ship
    </button>
    <div class="flex gap-4 flex-wrap mx-2 w-full">
        <br>
        {{if eq (len .ships) 0}}
            <div class="text-center text-white text-2xl w-full">
                No ships in dock
            </div>
        {{else}}
            {{range .ships}}
                {{template "components/ship/card" .}}
            {{end}}
        {{end}}
    </div>
</div>