<tr id="server-{{.ID}}">
    <td>{{.ID}}</td>
    <td><code>{{.IP}}</code></td>
    <td>{{.Port}}</td>
    <td>
        <div class="badge badge-outline badge-{{.State.Color}}">{{.State.Description}}</div>
    </td>
    <td>{{.Name}}</td>
    <td>
        <button
            class="btn btn-outline btn-warning"
            hx-get="/api/v1/servers/edit/{{.ID}}"
            hx-target="#server-{{.ID}}"
            hx-swap="outerHTML"
        >
            <i class="bi-pencil-fill"></i>
        </button>
        <button
            class="btn btn-outline btn-error"
            hx-confirm="Are you sure you want to delete this server?"
            hx-delete="/api/v1/servers/{{.ID}}"
            hx-target="#servers-view"
            hx-target-400="#server-error"
            hx-swap="outerHTML"
        >
            <i class="bi-trash3-fill"></i>
        </button>
    </td>
</tr>