<div
    class="max-w-[132px] bg-base-300 p-0.5 rounded-lg hover:bg-base-200 hover:scale-105 transition-transform cursor-pointer"
    hx-get="/api/v1/resources/edit/{{.ResourceID}}?commander_id={{.CommanderID}}"
    hx-target="#edit-modal-container"
    hx-target-error="#toast-container"
    hx-swap="innerhtml"
    hx-trigger="click"
>
    <div class="text-white text-center m-2 text-xs">
        {{TrimString .Name 15}}
    </div>
    <div class="flex justify-center">
        <img src="/static/items/{{.Name}}.png" width="64" height="64" alt="{{.Resource.Name}}" draggable="false">
    </div>
    <div class="text-white text-center m-2 text-xs">
        x{{.Amount}}
    </div>
</div>