name: Release CD

on:
  release:
    types: [created]

permissions:
  contents: write

jobs:
  build:
    name: Build and Publish Binaries
    runs-on: ubuntu-latest

    strategy:
      matrix:
        goos: [linux, windows]
        goarch: [amd64]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25.5"

      - name: Compile Go code
        run: |
          mkdir -p build
          GOOS=${{ matrix.goos }} GOARCH=${{ matrix.goarch }} BINARY_DIR=build make build
          server_output="build/belfast-server-${{ matrix.goos }}-${{ matrix.goarch }}"
          gateway_output="build/belfast-gateway-${{ matrix.goos }}-${{ matrix.goarch }}"
          server_source="build/belfast"
          gateway_source="build/gateway"
          if [ "${{ matrix.goos }}" = "windows" ]; then
            server_source="${server_source}.exe"
            gateway_source="${gateway_source}.exe"
            server_output="${server_output}.exe"
            gateway_output="${gateway_output}.exe"
          fi
          mv "$server_source" "$server_output"
          mv "$gateway_source" "$gateway_output"

      - name: Upload binary artifact
        uses: actions/upload-artifact@v4
        with:
          name: belfast-${{ matrix.goos }}-${{ matrix.goarch }}
          path: build/belfast-*

  publish:
    name: Publish Release Assets
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Download build artifacts
        uses: actions/download-artifact@v4
        with:
          name: belfast-linux-amd64
          path: build/

      - name: Download build artifacts
        uses: actions/download-artifact@v4
        with:
          name: belfast-windows-amd64
          path: build/

      - name: Publish Release Assets
        uses: softprops/action-gh-release@v2.0.8
        with:
          files: |
            build/belfast-gateway-linux-amd64
            build/belfast-server-linux-amd64
            build/belfast-gateway-windows-amd64.exe
            build/belfast-server-windows-amd64.exe
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
